@model CST247CLC.Models.ButtonModel

@{
    string[] imageNames = { "0.png", "1.png", "2.png", "3.png", "4.png", "5.png", "6.png", "7.png", "8.png", "bomb.png", "button.png", "flag.png" };

}

<button class="game-button" type="submit" value="@Model.id" name="buttonNumber" asp-controller="Minesweeper" asp-action="HandleButtonClick">

    @if (Model.isVisited == 1 && Model.live != true)
    {
        <img class="game-button-image" src="~/img/@imageNames[Model.neighbors]" />
    }
    else if (Model.isVisited == 0)
    {
        <img class="game-button-image" src="~/img/@imageNames[10]" />
    }
    else if (Model.live == true)
    {
        <img class="game-button-image" src="~/img/@imageNames[9]" />
    }

</button>